# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*

# Django Database
db.sqlite3

# User Uploaded Files
media/

# Node / React
node_modules/
dist/

# VS Code / IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log